@mixin bp($point) {
    // Arbitrary min BP
    @if $point == minXXL {
        @media (min-width: 1500px) {
            @content;
        }
    }
    @if $point == minXL {
        @media (min-width: 1440px) {
            @content;
        }
    }
    @if $point == minL {
        @media (min-width: 1000px) {
            @content;
        }
    }
    @if $point == minM {
        @media (min-width: 782px) {
            @content;
        }
    }
    @if $point == minS {
        @media (min-width: 600px) {
            @content;
        }
    }

	// Arbitrary max BP
	@if $point == maxXXL {
		@media (max-width: 1500px) {
			@content;
		}
	}
	@if $point == maxXL {
		@media (max-width: 1440px) {
			@content;
		}
	}
	@if $point == maxL {
		@media (max-width: 1000px) {
			@content;
		}
	}
	@if $point == maxM {
		@media (max-width: 782px) {
			@content;
		}
	}
	@if $point == maxS {
		@media (max-width: 600px) {
			@content;
		}
	}

    // WordPress Nav BP
    @if $point == wpm {
        @media (min-width: 782px) {
            @content;
        }
    }
    @if $point == wps {
        @media (min-width: 600px) {
            @content;
        }
    }
}



// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}
